/* TODO:
- use primary and secondary colour placeholders
- scale down for mobile devices
- possibly move nav out of header
*/

/* whole page styles */

body {
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #2c3e50;
  font-size: 1.25em;
  line-height: 1.45em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  line-break: loose;
}

h1,
h2 {
  letter-spacing: -1px;
}

h1 {
  line-height: 1.1em;
}

a {
  color: #18bc9c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 a {
  color: #2c3e50;
}

figure {
  margin: 0;
}

code {
  font-size: 1.25em;
  color: #7b8a8b;
  background-color: #ecf0f1;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  border-radius: 0.5em;
  color: #7b8a8b;
  max-width: 100%;
  padding: 1em;
  background-color: #ecf0f1;
  border: 1px solid #ccc;
}

.row {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.quote {
  text-transform: none;
  font-size: 1.8em;
  line-height:0.9em;
}

/* end whole page styles */

/* header styles */

header {
  padding: 1.5em 0;
  overflow: auto;
  color: #fff;
  background-color: #2c3e50;
}

header h3 {
  margin: 0;
}

header a {
  color: #fff;
  text-decoration: underline;
}

header a:hover {
  text-decoration: none;
}

header .row {
  display: flex;
  align-items: center;
}

header img {
  margin-right: 0.5em;
}

header nav {
  margin-left: auto;
}

header nav span {
  margin-left: 0.5em;
}

/* end header styles */

.navRow {
  text-align: center;
}

.navRow a {
  text-transform: none;
  font-weight: unset;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: underline;
}

.bio span {
  font-size: 0.88em;
}

.bio h2 {
  margin-bottom: 0.3em;
}

/* aside styles */

aside {
  padding: 1.5em 0;
  overflow: auto;
  color: #fff;
  background-color: #18bc9c;
}

aside .row {
  text-align: center;
}

aside p {
  margin-top: 0.25em;
  padding-bottom: 0.5em;
}

aside ul {
  list-style: none;
  padding: 0;
}

aside li {
  display: inline-block;
  margin: 0.25em;
  line-height: 1.5em;
}

aside a {
  font-size: 1.15em;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 100%;
  padding: 0.5em;
}

aside a:hover {
  background-color: #fff;
  color: #18bc9c;
}

/* end aside styles */

/* main header style */

body>header a {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
}

body>header a:hover {
  color: #18bc9c;
  text-decoration: none;
}

/* end main header styles */

/* article styles */

article {
  padding: 2em 0;
  border-bottom: 1em solid #18bc9c;
}

article img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

article .youtube-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  max-width: 95%;
  margin: 0 auto;
}

article .youtube-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* end article styles */

/* individual post page styles */

.single-post header {
  background-color: #18bc9c;
  padding: 1.5em 0;
}

.single-post header .row {
  display: block;
  text-align: center;
}

.single-post article h2 {
  display: none;
}

.single-post article h3 {
  margin-top: 2em;
}

.single-post article hr {
  margin: 2em;
}

.single-post article date {
  display: none;
}

.single-post .tags {
  display: none;
}

/* comments styles */

.comments {
  padding-top: 2em;
}

/* end comments styles */

/* end individual post page styles */

/* sitemap styles */

.sitemap header {
  background-color: #18bc9c;
  padding: 1.5em 0;
}

.sitemap header .row {
  display: block;
  text-align: center;
}

.sitemap article {
  border-bottom: none;
}

.sitemap h3 a {
  text-decoration: none;
  color: #2c3e50;
}

/* end sitemap styles */

/* footer styles */

footer {
  margin-top: 2em;
  padding: 1.5em 0;
  overflow: auto;
  color: #fff;
  background-color: #233140;
}

footer .row {
  text-align: center;
}

footer p {
  margin-top: 0.25em;
  padding-bottom: 0.5em;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  display: inline-block;
  margin: 0.25em;
  line-height: 1.5em;
}

footer a {
  font-size: 1.15em;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 100%;
  padding: 0.5em;
}

footer a:hover {
  background-color: #fff;
  color: #18bc9c;
}

/* end footer styles */

/* optimize for small screens */

@media only screen and (max-width: 859px) {
  body {
    font-size: 1em;
  }
  .desktopOnly {
    display: none;
  }
  header {
    padding: 1em 0;
  }
  header .row {
    justify-content: center;
  }
  .bio {
	text-align: center;
  }
}

@media only screen and (min-width: 860px) {
  .mobileOnly {
    display: none;
  }
}

table {
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
  padding: 0.3em;
}