---
layout:   category-page
title:    All Software Pages
---

{% comment%}
Here we generate all the tags.
{% endcomment%}

{% assign rawtags = "" %}
{% for page in site.software %}
{% assign ttags = page.tags | join:'|' | append:'|' %}
{% assign rawtags = rawtags | append:ttags %}
{% endfor %}

{% assign rawtags = rawtags | split:'|' | sort_natural %}

{% assign tags = "" %}

{% for tag in rawtags %}
{% if tag != "" %}

{% if tags == "" %}
{% assign tags = tag | split:'|' %}
{% endif %}

{% unless tags contains tag %}
{% assign tags = tags | join:'|' | append:'|' | append:tag | split:'|' %}
{% endunless %}
{% endif %}
{% endfor %}

<article>
<div class="row">

<h2>Categories</h2>
{% for tag in tags %}
  <a href="#{{ tag | slugify }}"> {{ tag }} </a>{% unless forloop.last %} | {% endunless %} 
{% endfor %}
<br />
<br />

<h2>Pages</h2>
{% for tag in tags %}
<h3><a name="{{ tag | slugify }}">{{ tag }}</a></h3>
<ul>
  {% for page in site.software %}
  {% if page.tags contains tag %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
{% endfor %}

</div>
</article>

