---
layout: nocomments2
title: Hardware
description: All my favourite vintage hardware in one place! I’ve been lucky enough to collect these magic machines over the years hub -- and I’ve condensed all my thoughts, feelings and findings into these few pages.
---

<h3>Computers</h3>

<ul>
  {% assign list = site.hardware | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Computers" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h3>Consoles</h3>

<ul>
  {% assign list = site.hardware | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Consoles" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>Graphics Cards</h3>

<ul>
  {% assign list = site.hardware | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Graphics Cards" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h3>MIDI</h3>

<ul>
  {% assign list = site.hardware | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "MIDI" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h3>MiSTer FPGA</h3>

<ul>
  {% assign list = site.hardware | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "MiSTer FPGA" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<!--
<h3>Monitors</h3>

<ul>
  {% assign list = site.hardware | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Monitors" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
-->

<h3>Network Devices</h3>

<ul>
  {% assign list = site.hardware | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Network Devices" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>Peripherals</h3>

<ul>
  {% assign list = site.hardware | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Peripherals" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<!--
<h3>Sound Cards</h3>

<ul>
  {% assign list = site.hardware | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Sound Cards" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
-->

<h3>Storage Devices</h3>

<ul>
  {% assign list = site.hardware | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Storage Devices" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<h3>Video Capture</h3>

<ul>
  {% assign list = site.hardware | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Video Capture" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<br />
Didn't find what you're looking for? You can find a listing of all the hardware pages <a href="/all-hardware-pages">here</a>.
