---
layout: section
title: Guides
description: I tinker with old computers. A lot. These are some of my go-to guides and tutorials. I try to keep them up-to-date — hope you find them useful!
---

<h3>Atari ST</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Atari ST" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>DOS</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "DOS" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>MiSTer FPGA</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "MiSTer FPGA" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>MIDI</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "MIDI" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>Photography</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Photography" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>Programming</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Programming" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>Rasperry Pi</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Raspberry Pi" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>Videogames</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Videogames" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>Windows</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Windows" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<br />
Didn't find what you're looking for? You can find a listing of all the how to pages <a href="/all-howto-pages">here</a>.
