---
layout: section
title: Guides
description: Paying it forward. I've written up my learnings as guides and tutorials. I try to keep them up-to-date — hope you find them useful!
---

<p class="jump-links">
{% assign cats = "Atari ST,MiSTer FPGA,MIDI,MS-DOS,Programming,Raspberry Pi,Videogames,VR Photography,Windows 98,Windows XP" | split: "," %}
{% for cat in cats %}<a href="#{{ cat | slugify }}">{{ cat }}</a>{% unless forloop.last %} &middot; {% endunless %}{% endfor %}
</p>

<h3 id="{{ "Atari ST" | slugify }}">Atari ST</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Atari ST" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="mister-fpga">MiSTer FPGA</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "MiSTer FPGA" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="midi">MIDI</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "MIDI" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="ms-dos">MS-DOS</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "MS-DOS" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="programming">Programming</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Programming" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="raspberry-pi">Raspberry Pi</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Raspberry Pi" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="videogames">Videogames</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Videogames" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="vr-photography">VR Photography</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "VR Photography" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="windows-98">Windows 98</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Windows 98" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="windows-xp">Windows XP</h3>

<ul>
  {% assign list = site.howto | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Windows XP" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<br />
Didn't find what you're looking for? Check the <a href="/sitemap">sitemap</a>.
