---
layout: section
title: Projects
description: I tinker with old computers. A lot. Projects and project notes here!
---

<h3>In Progress</h3>

<ul>
  {% assign list = site.projects | sort: 'date' | reverse %}
  {% for page in list %}
  {% if page.status == "in progress" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a> &mdash; {{ page.date | date: "%b %Y" }}
  </li>
  {% endif %}
  {% endfor %}
</ul>

<!--

<h3>On Hold</h3>

<ul>
  {% assign list = site.projects | sort: 'date' | reverse %}
  {% for page in list %}
  {% if page.status == "on hold" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a> &mdash; {{ page.date | date: "%b %Y" }}
  </li>
  {% endif %}
  {% endfor %}
</ul>

-->

<h3>Completed</h3>

<ul>
  {% assign list = site.projects | sort: 'date' | reverse %}
  {% for page in list %}
  {% if page.status == "completed" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a> &mdash; {{ page.date | date: "%b %Y" }}
  </li>
  {% endif %}
  {% endfor %}
</ul>
