---
layout: section
title: Software
description: Games, utilities, applications — my go-to software for vintage consoles and computers. Browse the library and rediscover the software that defined the golden age of computing — along with some modern gems!
---

<p class="jump-links">
{% assign cats = "3D Benchmarks,MIDI Synthesizers,MiSTer FPGA Cores,Operating Systems,Programming,Utilities,Videogames" | split: "," %}
{% for cat in cats %}<a href="#{{ cat | slugify }}">{{ cat }}</a>{% unless forloop.last %} &middot; {% endunless %}{% endfor %}
</p>

<h3 id="{{ "3D Benchmarks" | slugify }}">3D Benchmarks</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "3D Benchmarks" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="midi-synthesizers">MIDI Synthesizers</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "MIDI" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="mister-fpga-cores">MiSTer FPGA Cores</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "MiSTer FPGA" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="operating-systems">Operating Systems</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Operating Systems" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="programming">Programming</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Programming" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="utilities">Utilities</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Utilities" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3 id="videogames">Videogames</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Videogames" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<br />
Didn't find what you're looking for? Check the <a href="/sitemap">sitemap</a>.
