---
layout: section
title: Software
description: Games, utilities, applications — my go-to software for vintage computers and consoles. Browse the library and rediscover the software that defined the golden age of computing!
---

<h3>3D Benchmarks</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "3D Benchmarks" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>MIDI Synthesizers</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "MIDI" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>MiSTer FPGA Cores</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "MiSTer FPGA" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>Operating Systems</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Operating Systems" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>Programming</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Programming" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>Utilities</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Utilities" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>


<h3>Videogames</h3>

<ul>
  {% assign list = site.software | sort_natural: "title" %}
  {% for page in list %}
  {% if page.tags contains "Videogames" %}
  <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>

<br />
Didn't find what you're looking for? You can find a listing of all the software pages <a href="/all-software-pages">here</a>.
