 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
					<p>My name is James Mackenzie. I'm a Developer and Tech Lead at Goldman Sachs <strong>but this blog, it's content and opinions are my own</strong>. I started my career in IT infrastructure, but moved into software and spent most of the last 5 years working with Java and .NET. Today I also do a lot of web programming - especially in AngularJS.</p>
				</div>
                <div class="col-lg-4">
					<p>I code in my personal time too, sharing my experiences on this blog. I've a million dot com ideas, but they never get my serious attention. I'm a serial hoarder of video games and retro computing hardware - gotta catch 'em all! I'm a Getting Things Done fanatic. I love automation and productivity hacks - scripting and command line FTW!</p>
                </div>
            </div>
        </div>
    </section>
	
	
	
	