<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="description" content="{{ page.summary | strip_html }}">
    <meta property="og:description" content="{{ page.summary | strip_html }}"/>
	{% include head-includes.md %}
	<title>{{ page.title }}</title>
</head>

<body>
	<header>
		{% include nav-header.md %}
	</header>
	<main class="single-post">
		<header>
			<div class="row">
				<h1>{{ page.title }}</h1>
				<p>
					<time>{{ page.date | date: "%b %-d, %Y" }}</time>
				</p>
				{% if page.tags.size > 0 %}
				<p>
					{% for tag in page.tags %}
					<a href="/sitemap/#{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
					{% endfor %}
				</p>
				{% endif %}
			</div>
		</header>
		<article class="post">
			<div class="row">
				{{ content }}
			</div>
		</article>
		<div class="row latestposts">
			<h2>Latest Posts</h2>
			<ul>
			{% for page in site.posts limit:10 %}
				<li>
				{% if page.layout == "tweet" %}
					<img src="/img/layout/twitter-icon.png" style="display: inline-block; vertical-align:middle;" />
					<!--<a target="_blank" href="https://twitter.com/jamesfmackenzie/status/{{ page.tweetId }}">{{ page.title }}</a> - {{ page.date | date_to_string }} -->
					<a href="{{ page.url }}">{{ page.title }}</a> - {{ page.date | date_to_string }}
				{% elsif page.layout == "youtube" %}
					<img src="/img/layout/youtube-icon.png" style="display: inline-block; vertical-align:middle;" />
					<!-- <a target="_blank" href="https://youtu.be/{{ page.videoId }}">{{ page.title }}</a> - {{ page.date | date_to_string }} -->
				<a href="{{ page.url }}">{{ page.title }}</a> - {{ page.date | date_to_string }}
				{% elsif page.overrideUrl %} 
					<a href="{{ page.overrideUrl }}">{{ page.title }}</a> - {{ page.date | date_to_string }}
				{% else %}
					<a href="{{ page.url }}">{{ page.title }}</a> - {{ page.date | date_to_string }}
				{% endif %}
				</li>
				{% endfor %}
			</ul>
		</div>
	</main>
	<footer>
		<div class="row">
			<p>Find me on the Internet here:</p>
		</div>
		{% include social-buttons.md %}
	</footer>
	<!-- Google Analytics Tracking Code -->
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date();
			a = s.createElement(o),
				m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
		ga('create', 'UA-65863388-1', 'auto');
		ga('send', 'pageview');
	</script>
</body>

</html>