<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" class="index">
    {% include project_nav.html %}
	{% include post_header.html %}
	<section id="posts">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					{{ content }}
					<h3>Related Posts</h3>
					<ul>
					{% for post in site.posts %}
						{% if page.categories[0] == post.categories[0] %}
							<li><a href="{{ post.url }}">{{ post.title }}</a> - {{ post.date | date: "%b %-d, %Y" }}</li>
						{% endif %}
					{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</section>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>