---
layout: post
main_class: page-tweet
---
{% if page.summary and page.summary != page.title %}
<p>{{ page.summary | markdownify }}</p>
{% endif %}
<blockquote class="twitter-title-quote">
	<a target="_blank" rel="noopener" href="https://twitter.com/jamesfmackenzie/status/{{ page.tweetId }}">
		<span lang="en" dir="ltr">{{ page.title }}</span>
		<span class="cite">&mdash; {{ page.date | date: "%b %-d, %Y" }}</span>
		{% include post-stats.html stats=page.stats %}
	</a>
</blockquote>
{{ content }}
